{{!-- <!DOCTYPE html>
<div id="home">
  {{> nav/navbar}}
  <h1>{{msg}}</h1>
  <h2>This is our Home Page!</h2>
  {{> signup}}
</div> --}}

<!DOCTYPE html>
<div id="home">
  {{!-- {{> nav/navbar}} --}}
  {{> signup}}
  <div class="container-fluid gameSamples">


  </div>
</div>